.color-facebook-blue {
    color: #3b5998;
}

.color-twitter-blue {
    color: #1DA1F2;
}

.color-linkedin-blue {
    color: #0072b1;
}

.color-black {
    color: black;
}

#face {
    position: absolute;
    width: 220px;
    height: 340px;
    left: 50%;
    transform: translate(-51%, 20px) rotate(-3deg);
    z-index: 99;
    bottom: 50%;
}

.anchor-button-icon-vertical-center-fix {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

/* Carousel styling */
#introCarousel,
.carousel-inner,
.carousel-item,
.carousel-item.active {
    height: 100vh;
    /* handle mobile safari menu bar */
    height: 100svh;
}

.carousel-item:nth-child(1) {
    background-image: url('../img/no-head.png');
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center center;
}

.carousel-item:nth-child(2) {
    background-image: url('../img/super.png');
    background-repeat: no-repeat;
    background-size: 1150px;
    background-position: center center;
}

.carousel-item:nth-child(3) {
    background-image: url('../img/guitar.png');
    background-repeat: no-repeat;
    background-size: 1150px;
    background-position: center center;
}

.carousel-item:nth-child(4) {
    background-image: url('../img/business.png');
    background-repeat: no-repeat;
    background-size: 1200px;
    background-position: center center;
}

.carousel-item:nth-child(5) {
    background-image: url('../img/raincoat.png');
    background-repeat: no-repeat;
    background-size: 1100px;
    background-position: center center;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
    #introCarousel {
        margin-top: -58.59px;
    }
}