.color-facebook-blue {
    color: #3b5998;
}

.color-twitter-blue {
    color: #1DA1F2;
}

.color-linkedin-blue {
    color: #0072b1;
}

.color-black {
    color: black;
}

.head {
    position: absolute;
    width: 220px;
    left: 50%;
    transform: translate(-51%, 20px) rotate(-3deg);
    ;
    z-index: 99;
    bottom: 50%;
}
